<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

<ion-searchbar animated></ion-searchbar>

<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-label>Bleach</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dragon Ball Super</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Haikyuu!!</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Inazuma Eleven</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Jojo's Bizzare Adventure</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Naruto Shippuden</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>One Piece</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>One Punch Man</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Pokémon</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Yu Yu Hakusho</ion-label>
  </ion-item>

</ion-list>


</ion-content>
