<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> Profile </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <img src="https://i.pinimg.com/originals/ce/48/95/ce4895b50989ea961daf29aadd1f4800.jpg" alt=""/>
    <ion-card-header>
      <ion-card-title>Mari</ion-card-title>
      <ion-card-subtitle>Gamer</ion-card-subtitle>
    </ion-card-header>
<!-- -->
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Mariana Rove Ferreira</ion-label>
      <ion-button color="tertiary">
        <ion-icon size="small" slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item href="mailto:mariana.ferreira151@etec.sp.gov.br" class="ion-activated">
      <ion-icon name="at-outline" slot="start"></ion-icon>
      <ion-label><a href="mailto:mariana.ferreira151@etec.sp.gov.br">mariana.ferreira151@etec.sp.gov.br</a></ion-label>
      <ion-button color="tertiary">
        <ion-icon size="small" slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>12/21/2005</ion-label>
      <ion-button color="tertiary">
        <ion-icon size="small" slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="male-female-outline" slot="start"></ion-icon>
      <ion-label>She/Her</ion-label>
      <ion-button color="tertiary">
        <ion-icon size="small" slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
<!-- -->
  <ion-card>
    <ion-item>
      <ion-icon name="heart-outline" slot="start"></ion-icon>
      <ion-label>Favorite</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="play-outline" slot="start"></ion-icon>
      <ion-label>Watching</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="pause-outline" slot="start"></ion-icon>
      <ion-label>Paused</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary">View</ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="bookmark-outline" slot="start"></ion-icon>
      <ion-label>Watch Later</ion-label>
      <ion-button fill="outline" slot="end" color="tertiary">View</ion-button>
    </ion-item>
  </ion-card>
<!-- -->
</ion-content>
